* {
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
 body {
    background-color: rgb(5, 147, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 body section {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    
    
}
body section div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    background-color: rgb(238, 231, 231, 1);
    
   
}

body section div img {
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    transition: 0.5s;
}

body section nav ul li a {
    font-family: Arial;  
    font-size:20px ;
   
}
body section .top:hover img{
    transform:translateY(-90%);
    
}
body section .droite:hover img{
    transform:translateX(90%);
   
}
body section .bottom:hover img{
    transform:translateY(90%);
}
body section .gauche:hover img{
    transform:translateX(90%);
}
body section .top:hover img{
    transform:translateY(-90%);
    
}
body section .droite:hover img{
    transform:translateX(90%);
    
}
body section .bottom:hover img{
    transform:translateY(90%);}
  
body section .gauche:hover img{
    transform:translateX(-90%);
}
body section .top:hover img{
    transform:translateY(-90%);}
    

 
 
  

